/*
Name: 			styles.css
Written by: 	Blackbook Elements - (http://www.blackbookelements.com)
Version: 		1.0
*/

* {
	margin: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.page-wrap {
	min-height: 100%;
	position: absolute;
	width: 100%;
}

.page-wrap:after {
	content: "";
	display: block;
}

.container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: none;
	justify-content: space-between;
	width: 100%;
}

.title {
	font-size: 40pt;
	font-weight: 900;
	position: absolute;
	text-align: center;
	top: 10vh;
	width: 100%;
}

.client {
	color: black;
	position: fixed;
	left: 20vh;
	text-align: center;
	top: 40vh;
	z-index: 10;
}

.clientRule {
	border-right: 1vh dotted #ff4d4d;
	height: 30vh;
	left: 25vh;
	position: absolute;
	top: 55vh;
	width: 0.1vh;
	z-index: 9;
}

.server {
	color: black;
	position: fixed;
	right: 20vh;
	text-align: center;
	top: 40vh;
	z-index: 10;
}

.serverRule {
	border-right: 1vh dotted #ff4d4d;
	height: 380vh;
	right: 25vh;
	position: absolute;
	top: 55vh;
	width: 0.1vh;
	z-index: 9;
}

.dns {
	height: 100vh;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
}

.dns h1 {
	font-size: 30pt;
	position: absolute;
	text-align: center;
	top: 65vh;
	width: 100%;
}

.dns p {
	font-size: 20pt;
	padding: 0 0 0 45vh;
	position: absolute;
	top: 72vh;
	width: 100vh;
	z-index: 9;
}

.names {
	height: 100vh;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
}

.names h1 {
	font-size: 30pt;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	top: 65vh;
	width: 100%;
}

.names p {
	font-size: 20pt;
	opacity: 0.5;
	padding: 0 0 0 45vh;
	position: absolute;
	top: 72vh;
	width: 100vh;
	z-index: 9;
}

.ftp {
	height: 100vh;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
}

.ftp h1 {
	font-size: 30pt;
	position: absolute;
	text-align: center;
	top: 65vh;
	width: 100%;
}

.ftp p {
	font-size: 20pt;
	padding: 0 0 0 45vh;
	position: absolute;
	top: 72vh;
	width: 100vh;
	z-index: 9;
}

.sftp {
	height: 100vh;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
}

.sftp h1 {
	font-size: 30pt;
	position: absolute;
	text-align: center;
	top: 65vh;
	width: 100%;
}

.sftp p {
	font-size: 20pt;
	padding: 0 0 0 45vh;
	position: absolute;
	top: 72vh;
	width: 100vh;
	z-index: 9;
}

.smtp {
	height: 100vh;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
}

.smtp h1 {
	font-size: 30pt;
	position: absolute;
	text-align: center;
	top: 65vh;
	width: 100%;
}

.smtp p {
	font-size: 20pt;
	padding: 0 0 0 45vh;
	position: absolute;
	top: 72vh;
	width: 100vh;
	z-index: 9;
}